<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Nhanvien</title>
  <link th:fragment="link-css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
  <h1>Edit Nhanvien</h1>
  <form th:action="@{/nhanvien/edit/{id}(id=${nhanvien.id})}" th:object="${nhanvien}" method="post" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}">
    <div class="col-6 mb-3">
      <label class="form-label" for="tenNv">TenNv</label>
      <input type="text" class="form-control bg-white" id="tenNv" placeholder="TenNv" th:field="*{tenNv}">
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="image">Image</label>
      <img class="form-control" th:src="@{/images/} + *{image}" placeholder="image"/>
      <input class="form-control" type="file" name="imageProduct" id="image" accept="image/png, image/jpeg">
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="phai">Phai</label>
      <input type="text" class="form-control bg-white" id="phai" placeholder="Phai" th:field="*{phai}">
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="luong">Luong</label>
      <input type="text" class="form-control bg-white" id="luong" placeholder="Luong" th:field="*{luong}">
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="phongBan">PhongBan</label>
      <select class="form-control" id="phongBan" th:field="*{phongBan.id}">
        <option value=""> ==Select PhongBan== </option>
        <option th:each="phongBan : ${phongBans}" th:value="${phongBan.id}" th:text="${phongBan.name}"></option>
      </select>
    </div>
    <input type="submit" value="Save">
  </form>
  <br>
  <a th:href="@{/nhanvien}">Back to list</a>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>
